<%- include("../partials/header") %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
        <div style="margin:0 auto;">
            <h1>Add New Comment <%= campground.title %></h1>
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name='comment[text]' placeholder="Text">
                </div>
                <button style="width: 100%;" type="submit" class="btn btn-outline-dark">SUBMIT</button>
            </form>
            <a href="/campgrounds">Go Back</a>

        </div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
</div>
<%- include("../partials/footer") %>